# ExperimentalPlatform
[Unit]
Description=Time Machine AFPD service
After=init-protonet.service hostname-avahi-protonet.service
Requires=init-protonet.service hostname-avahi-protonet.service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/afpd/disabled

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f afpd
ExecStartPre=/usr/bin/docker run -d \
    --name=afpd \
    -p 548:548 \
    --volume /data/samba/extrausers/:/var/lib/extrausers/:ro \
    --volume /data/soul/files/:/home/protonet/dashboard/shared/files/:rw \
    quay.io/experimentalplatform/afpd:{{tag}}
ExecStart=/usr/bin/docker logs -f afpd
ExecStop=/usr/bin/docker stop afpd
ExecStopPost=/usr/bin/docker stop afpd

[Install]
WantedBy=multi-user.target
