[Unit]
Description=Run 'app manager' service
After=dokku-protonet.service
Requires=dokku-protonet.service
Wants=update-images-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStartPre=/bin/mkdir -p /etc/protonet
ExecStart=/opt/bin/systemd-docker run --rm \
    --name=app-manager \
    --volume=/var/run/docker.sock:/var/run/docker.sock \
  dockerregistry.protorz.net/app-manager:latest

[Install]
WantedBy=multi-user.target
