# ExperimentalPlatform
[Unit]
Description=Run 'app manager' service
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
ExecStartPre=-/usr/bin/docker rm -f app-manager
ExecStartPre=/usr/bin/docker run -d \
    --name=app-manager \
    --volume=/var/run/docker.sock:/var/run/docker.sock \
  experimentalplatform/app-manager:{{tag}}
ExecStart=/usr/bin/docker logs -f app-manager
ExecStop=/usr/bin/docker stop app-manager
ExecStopPost=/usr/bin/docker stop app-manager

[Install]
WantedBy=multi-user.target
