[Unit]
Description=Run 'central gateway' service
After=init-protonet.service
Requires=init-protonet.service
ConditionFileNotEmpty=/etc/protonet/ptw/nodename

[Service]
Type=idle
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull dockerregistry.protorz.net/central-gateway:latest
ExecStart=/opt/bin/systemd-docker run --rm \
    --name=central-gateway \
    --publish=80:9000 \
    --net=host \
  dockerregistry.protorz.net/central-gateway:latest --interface=127.0.0.1:9000 --apps=http://127.0.0.1:9001 --management=http://127.0.0.1:9002
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
