# ExperimentalPlatform
[Unit]
Description=Restart central gateway on changes to SKVS SSL configuration

[Service]
ExecStart=/usr/bin/env systemctl restart central-gateway-protonet.service
KillMode=none
Type=oneshot
