# ExperimentalPlatform
[Unit]
Description=public dns and dhcp for WIFI HOTSPOT, 'dnsmasq' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=/etc/protonet/system/wifi/guest/enabled
After=hostapd-protonet.service
Requires=hostapd-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker rm -f dnsmasq-public
ExecStartPre=/usr/bin/docker run -d \
    --name=dnsmasq-public \
    --net=host \
    --privileged=true \
    experimentalplatform/dnsmasq:{{tag}} dnsmasq -C /etc/dnsmasq-public.conf -k -h --log-facility=-
ExecStart=/usr/bin/docker logs -f dnsmasq-public
ExecStop=/usr/bin/docker stop dnsmasq-public
ExecStopPost=/usr/bin/docker stop dnsmasq-public

[Install]
WantedBy=multi-user.target
