# ExperimentalPlatform
[Unit]
Description=private dns and dhcp for WIFI HOTSPOT, 'dnsmasq' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=/etc/protonet/system/wifi/enabled
After=hostapd-protonet.service
Requires=hostapd-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f dnsmasq-private
ExecStartPre=/usr/bin/docker run -d \
    --name=dnsmasq-private \
    --net=host \
    --privileged=true \
    quay.io/experimentalplatform/dnsmasq:{{tag}} dnsmasq -C /etc/dnsmasq-private.conf -k -h --log-facility=-
ExecStart=/usr/bin/docker logs -f dnsmasq-private
ExecStop=/usr/bin/docker stop dnsmasq-private
ExecStopPost=/usr/bin/docker stop dnsmasq-private

[Install]
WantedBy=multi-user.target
