[Unit]
Description=Docker protonet bridge network initialization
After=docker.service

[Service]
ExecStart=-/usr/bin/env docker network create --driver bridge protonet
KillMode=none
Type=oneshot