[Unit]
Description=Run 'dokku' service
After=init-protonet.service network-online.target
Requires=init-protonet.service network-online.target
ConditionFileNotEmpty=/etc/protonet/ptw/nodename

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull dockerregistry.protorz.net/dokku:latest
ExecStartPre=/bin/mkdir -p /data/dokku
ExecStartPre=/bin/mkdir -p /etc/protonet/ssh/
ExecStart=/bin/bash -c '/opt/bin/systemd-docker run --rm \
    --volume=/data/dokku:/data \
    --volume=/var/run/docker.sock:/var/run/docker.sock \
    --volume=/root/.dockercfg:/data/.dockercfg \
    --volume=/etc/protonet/ptw/nodename:/config/nodename \
    --volume=/etc/protonet/ssh/:/config/ssh/ \
    --volume=/etc/ssh/:/etc/ssh/:ro \
    --volume=/usr/share/ssh/:/usr/share/ssh/:ro \
    --hostname=dokku.protonet.info \
    --name=dokku \
    --publish=127.0.0.1:9001:80 \
    --publish=8022:22 \
    --env DOCKER_GID=$(id -g docker) \
    --env HOST_HOSTNAME=$(hostname) \
  dockerregistry.protorz.net/dokku:latest'

[Install]
WantedBy=multi-user.target
