# ExperimentalPlatform
[Unit]
Description=Rebuild all Dokku Apps after Dokku was updated.
After=dokku-protonet.service
Requires=dokku-protonet.service

[Service]
ExecStart=/bin/bash -c 'sleep 5 && docker exec dokku sudo -E -H -u dokku dokku ps:rebuildall'
KillMode=none
Type=oneshot

[Install]
WantedBy=multi-user.target
