# ExperimentalPlatform
[Unit]
Description=Run 'elasticsearch' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/elasticsearch/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --volume=/data/elasticsearch:/usr/share/elasticsearch/data \
    --name=elasticsearch \
  elasticsearch@1.7

[Install]
WantedBy=multi-user.target
