# ExperimentalPlatform
[Unit]
Description=Run 'elasticsearch' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/elasticsearch/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f elasticsearch
ExecStartPre=/usr/bin/docker run -d \
    --volume=/data/elasticsearch:/usr/share/elasticsearch/data \
    --name=elasticsearch \
  elasticsearch@1.7
ExecStart=/usr/bin/docker logs -f elasticsearch
ExecStop=/usr/bin/docker stop elasticsearch
ExecStopPost=/usr/bin/docker stop elasticsearch

[Install]
WantedBy=multi-user.target
