# ExperimentalPlatform
[Unit]
Description=ZFS Lock Bug Mitigation

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStopPost=/usr/sbin/sysctl kernel.hung_task_panic=1
ExecStopPost=/usr/sbin/sysctl kernel.hung_task_timeout_secs=300


[Install]
WantedBy=multi-user.target