# ExperimentalPlatform
[Unit]
Description=Write out current gitlab virtual network IP address to SKVS/FS if it has changed
Requires=gitlab.service
After=gitlab.service

[Service]
KillMode=none
Type=oneshot
ExecStart=/opt/bin/gitlab-network-ip
