# ExperimentalPlatform
[Unit]
Description=Gitlab
After=gitlab-redis.service platform-ldap.service mysql.service central-gateway-protonet.service
Requires=gitlab-redis.service mysql.service central-gateway-protonet.service
Wants=platform-ldap.service
ConditionPathExists=/etc/protonet/gitlab/enabled

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/mkdir -p /data/gitlab/data
ExecStartPre=/usr/bin/curl -X POST http://127.0.0.1:81/apps/gitlab/macvlan
ExecStartPre=-/usr/bin/docker rm -f gitlab
ExecStartPre=/usr/bin/env bash -c "/usr/bin/docker run -d \
    --name gitlab \
    --net protonet \
    --volume /data/gitlab/data:/home/git/data \
    -p \"$(curl -X GET http://127.0.0.1:81/apps/gitlab/macvlan):2222:22\" \
    --env \"GITLAB_HOST=gitlab.$(</etc/protonet/hostname).protonet.info\" \
    --env \"GITLAB_SSH_HOST=$(curl -X GET http://127.0.0.1:81/apps/gitlab/macvlan)\" \
    --env 'GITLAB_HTTPS=false' \
    --env 'GITLAB_SSH_PORT=2222' \
    --env 'GITLAB_SIGNUP_ENABLED=false' \
    --env 'SSL_SELF_SIGNED=true' \
    --env 'DB_ADAPTER=mysql2' \
    --env 'DB_HOST=mysql' \
    --env 'DB_NAME=gitlab' \
    --env 'DB_USER=gitlab' \
    --env \"DB_PASS=$(</etc/protonet/gitlab/mysql_passwd)\" \
    --env 'REDIS_HOST=gitlab-redis' \
    --env \"GITLAB_SECRETS_DB_KEY_BASE=$(</etc/protonet/gitlab/secrets_db_key_base)\" \
    --env \"GITLAB_SECRETS_SECRET_KEY_BASE=$(</etc/protonet/gitlab/secrets_secret_key_base)\" \
    --env \"GITLAB_SECRETS_OTP_KEY_BASE=$(</etc/protonet/gitlab/secrets_otp_key_base)\" \
    --env \"GITLAB_EMAIL=$(</etc/protonet/smtp/sender)\" \
    --env 'SMTP_ENABLED=true' \
    --env \"SMTP_HOST=$(</etc/protonet/smtp/host)\" \
    --env \"SMTP_USER=$(</etc/protonet/smtp/username)\" \
    --env \"SMTP_PASS=$(</etc/protonet/smtp/password)\" \
    --env 'LDAP_ENABLED=true' \
    --env 'LDAP_HOST=ldap' \
    --env 'LDAP_PORT=389' \
    --env 'LDAP_BIND_DN=uid=gitlab,ou=Apps,dc=protonet,dc=com' \
    --env 'LDAP_PASS=demo' \
    --env 'LDAP_UID=uid' \
    --env 'LDAP_ACTIVE_DIRECTORY=false' \
    --env 'LDAP_BASE=ou=People,dc=protonet,dc=com' \
    sameersbn/gitlab:8.14.0"
ExecStart=/usr/bin/docker logs -f gitlab
# reload central GW config
ExecStartPost=/usr/bin/curl -X POST http://127.0.0.1:81/reload-proxies
ExecStop=/usr/bin/docker stop gitlab
ExecStopPost=/usr/bin/docker stop gitlab

[Install]
WantedBy=multi-user.target
