# ExperimentalPlatform
[Unit]
Description=Run 'hardware monitor' service
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/rm -rf /data/hardware/hardware.sock
ExecStartPre=-/usr/bin/docker rm -f hardware
ExecStartPre=/usr/bin/docker run -d \
    --name=hardware \
    --volume=/dev:/dev \
    --volume=/data/hardware:/socketdir \
    --privileged=true \
    --net=host \
  experimentalplatform/hardware:{{tag}}
ExecStart=/usr/bin/docker logs -f hardware
ExecStop=/usr/bin/docker stop hardware
ExecStopPost=/usr/bin/docker stop hardware

[Install]
WantedBy=multi-user.target
