# ExperimentalPlatform
[Unit]
Description=Run and configure the WIFI HOSTSPOT 'hostapd' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=|/etc/protonet/system/wifi/enabled
ConditionPathExists=|/etc/protonet/system/wifi/guest/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s

ExecStartPre=/bin/bash -c '/usr/sbin/lspci | egrep "Wireless Network|Atheros" || (CODE=$?; echo "ERROR: WIFI device not found"; exit $CODE)'
ExecStartPre=/bin/bash -c '/usr/bin/ip link show | egrep "^[0-9: \t]+wl[0-9a-z_\-]+" || (CODE=$?; echo "ERROR: WIFI interface not found"; exit $CODE)'
ExecStartPre=-/usr/bin/docker rm -f hostapd
ExecStartPre=/usr/bin/docker run -d \
    --name=hostapd \
    --net=host \
    --privileged=true \
    --volume /dev:/dev:rw \
    --volume /var/run/dbus:/var/run/dbus:rw \
    --volume /usr/bin/systemctl:/usr/bin/systemctl:ro \
    --volume /sys/fs/cgroup:/sys/fs/cgroup:ro \
    --volume /var/run/systemd:/var/run/systemd:ro \
    --volume=/etc/protonet/system/wifi:/etc/protonet/system/wifi \
    quay.io/experimentalplatform/hostapd:{{tag}}
ExecStart=/usr/bin/docker logs -f hostapd
ExecStop=/usr/bin/docker stop hostapd
ExecStopPost=/usr/bin/docker stop hostapd

ExecStartPost=/bin/bash -c '/sbin/iptables -A FORWARD -i wl_private -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -m state --state ESTABLISHED,RELATED -j ACCEPT'
ExecStartPost=/bin/bash -c '/sbin/iptables -A FORWARD -i $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -o wl_private -j ACCEPT'
ExecStartPost=/bin/bash -c '/sbin/iptables -A FORWARD -i wl_public -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -m state --state ESTABLISHED,RELATED -j ACCEPT'
ExecStartPost=/bin/bash -c '/sbin/iptables -A FORWARD -i $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -o wl_public -j ACCEPT'
ExecStartPost=/bin/bash -c '/sbin/iptables -t nat -A POSTROUTING -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -s 10.42.0.0/16 -j MASQUERADE'
ExecStartPost=/bin/bash -c '/sbin/iptables -t nat -A POSTROUTING -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -s 10.43.0.0/16 -j MASQUERADE'
ExecStop=-/bin/bash -c '/sbin/iptables -D FORWARD -i wl_private -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -m state --state ESTABLISHED,RELATED -j ACCEPT'
ExecStop=-/bin/bash -c '/sbin/iptables -D FORWARD -i $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -o wl_private -j ACCEPT'
ExecStop=-/bin/bash -c '/sbin/iptables -D FORWARD -i wl_public -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -m state --state ESTABLISHED,RELATED -j ACCEPT'
ExecStop=-/bin/bash -c '/sbin/iptables -D FORWARD -i $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -o wl_public -j ACCEPT'
ExecStop=-/bin/bash -c '/sbin/iptables -t nat -D POSTROUTING -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -s 10.42.0.0/16 -j MASQUERADE'
ExecStop=-/bin/bash -c '/sbin/iptables -t nat -D POSTROUTING -o $(ip route get 8.8.8.8 | grep -Po "(?<=dev )en[0-9a-z_]+") -s 10.43.0.0/16 -j MASQUERADE'

[Install]
WantedBy=multi-user.target
