[Unit]
Description=NMBD Service announces the hostname to windows networks
After=network-online.target
Requires=network-online.target
Wants=update-images-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStart=/bin/bash -c '/opt/bin/systemd-docker run --rm \
    --name=hostname-smb \
    --net=host \
  dockerregistry.protorz.net/hostname-smb:latest'

[Install]
WantedBy=multi-user.target
