# ExperimentalPlatform
[Unit]
Description=NMBD Service announces the hostname to windows networks
ConditionPathExists=!/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f hostname-smb
ExecStartPre=/usr/bin/docker run -d \
    --name=hostname-smb \
    --net=host \
  experimentalplatform/hostname-smb:{{tag}}
ExecStart=/usr/bin/docker logs -f hostname-smb
ExecStop=/usr/bin/docker stop hostname-smb
ExecStopPost=/usr/bin/docker stop hostname-smb

[Install]
WantedBy=multi-user.target
