# ExperimentalPlatform
[Unit]
Description=AVAHI Service -- hostname resolution via mDNS
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f hostname-avahi
ExecStartPre=/usr/bin/docker run -d \
    --name=hostname-avahi \
    --net=host \
    experimentalplatform/hostname-avahi:{{tag}}
ExecStart=/usr/bin/docker logs -f hostname-avahi
ExecStop=/usr/bin/docker stop hostname-avahi
ExecStopPost=/usr/bin/docker stop hostname-avahi

[Install]
WantedBy=multi-user.target
