# ExperimentalPlatform
[Unit]
Description=Restart Service hostname-avahi-protonet
After= network-online.target
Requires=dokku-protonet.service network-online.target
ConditionFileNotEmpty=/etc/protonet/hostname

[Service]
ExecStart=/usr/bin/env systemctl restart hostname-avahi-protonet.service
KillMode=none
Type=oneshot
