# ExperimentalPlatform
[Unit]
Description=NMBD Service announces the hostname to windows networks
ConditionPathExists=!/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name=hostname-smb \
    --net=host \
  experimentalplatform/hostname-smb:{{tag}}

[Install]
WantedBy=multi-user.target
