# ExperimentalPlatform
[Unit]
Description=Run and configure the WIFI HOSTSPOT 'hostapd' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=|/etc/protonet/system/wifi/enabled
ConditionPathExists=|/etc/protonet/system/wifi/guest/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/bin/bash -c '/usr/sbin/lspci | egrep "Wireless Network|Atheros" || (CODE=$?; echo "ERROR: WIFI device not found"; exit $CODE)'
ExecStartPre=/bin/bash -c '/usr/bin/ip link show | egrep "^[0-9: \t]+wl[0-9a-z_\-]+" || (CODE=$?; echo "ERROR: WIFI interface not found"; exit $CODE)'
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name=hostapd \
    --net=host \
    --privileged=true \
    --volume=/dev:/dev \
    --volume=/etc/protonet/system/wifi:/etc/protonet/system/wifi \
    experimentalplatform/hostapd:{{tag}}

[Install]
WantedBy=multi-user.target
