# ExperimentalPlatform
[Unit]
Description=Restart Service hostname-smb-protonet
After=network-online.target
Requires=network-online.target
ConditionFileNotEmpty=/etc/protonet/hostname

[Service]
ExecStart=/usr/bin/env systemctl restart hostname-smb-protonet.service
KillMode=none
Type=oneshot
