# ExperimentalPlatform
[Unit]
Description=AVAHI Service announces the hostname to windows networks
After=init-protonet.service network-online.target
Requires=init-protonet.service network-online.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name=hostname-avahi \
    --net=host \
  dockerregistry.protorz.net/hostname-avahi:{{tag}}

[Install]
WantedBy=multi-user.target
