# ExperimentalPlatform
[Unit]
Description=Initial Protonet Experimental Plattform
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Type=oneshot
KillMode=none
RemainAfterExit=yes
ExecStartPre=/usr/bin/env docker login -u protonet -p geheim -e mvp-aal@protonet.info dockerregistry.protorz.net
ExecStartPre=/usr/bin/env docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/usr/bin/env true

[Install]
WantedBy=multi-user.target
