# ExperimentalPlatform
[Unit]
Description=Initial Protonet Experimental Plattform
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
TimeoutStartSec=0
Type=oneshot
KillMode=none
RemainAfterExit=yes
ExecStartPre=/usr/bin/env docker run --rm -v /opt/bin:/opt/bin ibuildthecloud/systemd-docker
ExecStart=/usr/bin/env true

[Install]
WantedBy=multi-user.target
