# ExperimentalPlatform
[Unit]
Description=Initial Protonet Experimental Plattform
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
TimeoutStartSec=0
Type=oneshot
KillMode=none
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /data/dokku
ExecStartPre=/bin/mkdir -p /data/frontend
ExecStartPre=/bin/mkdir -p /etc/protonet/ssh/
ExecStartPre=-/bin/bash -c '[[ -d /etc/protonet/hostname ]] && rm -rf /etc/protonet/hostname'
ExecStartPre=-/bin/bash -c '[[ ! -f /etc/protonet/hostname ]] && echo "paleale" > /etc/protonet/hostname'
ExecStart=/usr/bin/env true

[Install]
WantedBy=multi-user.target
