# ExperimentalPlatform
[Unit]
Description=Run 'monitoring' service
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
ExecStartPre=-/usr/bin/docker rm -f monitoring
ExecStartPre=/usr/bin/docker run -d \
    --name=monitoring \
    --volume=/var/run/docker.sock:/var/run/docker.sock \
  experimentalplatform/monitoring:{{tag}}
ExecStart=/usr/bin/docker logs -f monitoring
ExecStop=/usr/bin/docker stop monitoring
ExecStopPost=/usr/bin/docker stop monitoring

[Install]
WantedBy=multi-user.target
