# ExperimentalPlatform
[Unit]
Description=Run 'mysql' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/mysql/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f mysql
ExecStartPre=/usr/bin/docker run -d \
    --volume=/data/mysql:/var/lib/mysql \
    --name=mysql \
    -e "MYSQL_ROOT_PASSWORD=s3kr3t" \
    -e "MYSQL_DATABASE=german-shepherd" \
  mysql
ExecStart=/usr/bin/docker logs -f mysql
ExecStop=/usr/bin/docker stop mysql
ExecStopPost=/usr/bin/docker stop mysql

[Install]
WantedBy=multi-user.target
