# ExperimentalPlatform
[Unit]
Description=Restart Service ptw-protonet
After=ptw-protonet.service
Requires=ptw-protonet.service
ConditionFileNotEmpty=/etc/protonet/ptw/node_name

[Service]
ExecStart=/usr/bin/docker kill -s USR1 ptw
KillMode=none
Type=oneshot
