[Unit]
Description=Run 'platform-frontend' service
After=skvs-protonet.service app-manager-protonet.service update-images-protonet.service
Requires=skvs-protonet.service app-manager-protonet.service
Wants=update-images-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker run --rm \
    --name=platform-frontend \
    --publish=127.0.0.1:9002:3000 \
    --link=skvs:skvs \
    --link=app-manager:app-manager \
  dockerregistry.protorz.net/platform-frontend:latest

[Install]
WantedBy=multi-user.target
