# ExperimentalPlatform
[Unit]
Description=Protonet Soul nginx Service
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker rm -f platform-haproxy
ExecStartPre=/usr/bin/docker run -d \
    --name platform-haproxy \
    -p 80:5000 \
    --volume /dev/log:/dev/log \
    experimentalplatform/haproxy:development
ExecStart=/usr/bin/docker logs -f platform-haproxy
ExecStop=/usr/bin/docker stop platform-haproxy
ExecStopPost=/usr/bin/docker stop platform-haproxy

[Install]
WantedBy=multi-user.target
