# ExperimentalPlatform
[Unit]
Description=Platform http proxy service
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f platform-http-proxy
ExecStartPre=/usr/bin/docker run -d \
    --net=protonet \
    --name platform-http-proxy \
    experimentalplatform/http-proxy:{{tag}}
ExecStart=/usr/bin/docker logs -f platform-http-proxy
ExecStop=/usr/bin/docker stop platform-http-proxy
ExecStopPost=/usr/bin/docker stop platform-http-proxy

[Install]
WantedBy=multi-user.target
