# ExperimentalPlatform
[Unit]
Description=Experimental Platform HAProxy HTTP frontend reverse proxy
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f platform-haproxy
ExecStartPre=/usr/bin/docker run -d \
    --net=protonet \
    --name platform-haproxy \
    -p 80:80 \
    -p 443:443 \
    --volume /dev/log:/dev/log \
    --volume /data/haproxy/ssl:/data/ssl \
    --volume /data/haproxy/socket:/run/haproxy \
    quay.io/experimentalplatform/haproxy:{{tag}}
ExecStart=/usr/bin/docker logs -f platform-haproxy
ExecStop=/usr/bin/docker stop platform-haproxy
ExecStopPost=/usr/bin/docker stop platform-haproxy

[Install]
WantedBy=multi-user.target
