# ExperimentalPlatform
[Unit]
Description=Platform LDAP service
ConditionPathExists=/etc/protonet/ldap/users
After=init-protonet.service skvs-protonet.service
Requires=init-protonet.service skvs-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f ldap
ExecStartPre=/usr/bin/docker run -d \
    --name=ldap \
    --net=protonet \
    --volume=/etc/protonet/ldap/users:/etc/ldap/users.json:ro \
  quay.io/experimentalplatform/ldap:{{tag}}
ExecStart=/usr/bin/docker logs -f ldap
ExecStop=/usr/bin/docker stop ldap
ExecStopPost=/usr/bin/docker stop ldap

[Install]
WantedBy=multi-user.target
