[Unit]
Description=Run 'platform-frontend' service
After=skvs-protonet.service app-manager-protonet.service
Requires=skvs-protonet.service app-manager-protonet.service

[Service]
Type=idle
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull dockerregistry.protorz.net/platform-frontend:latest
ExecStart=/opt/bin/systemd-docker run --rm \
    --name=platform-frontend \
    --publish=127.0.0.1:9002:3000 \
    --link=skvs:skvs \
    --link=app-manager:app-manager \
  dockerregistry.protorz.net/platform-frontend:latest
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
