# ExperimentalPlatform
[Unit]
Description=Run 'postgres' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/postgres/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/mkdir -p /data/postgres
ExecStartPre=-/usr/bin/docker rm -f postgres
ExecStartPre=/usr/bin/docker run -d \
    --volume=/data/postgres:/var/lib/postgresql/data \
    --net=protonet \
    --name=postgres \
    -e "POSTGRES_PASSWORD=s3kr3t" \
  postgres:9.6
ExecStart=/usr/bin/docker logs -f postgres
ExecStop=/usr/bin/docker stop postgres
ExecStopPost=/usr/bin/docker stop postgres

[Install]
WantedBy=multi-user.target
