[Unit]
Description=Prepare Button for Startup
ConditionPathExists=/opt/bin/button
ConditionPathExists=!/etc/protonet/system/virtual-machine

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/opt/bin/button busy

[Install]
WantedBy=multi-user.target