[Unit]
Description=Run 'ptw' service
After=central-gateway-protonet.service
Requires=central-gateway-protonet.service
Wants=update-images-protonet.service
ConditionPathExists=/etc/protonet/ptw/enabled
ConditionFileNotEmpty=/etc/protonet/ptw/nodename

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker run --rm \
    --volume=/etc/protonet/ptw/:/config/ \
    --name=ptw \
    --hostname=ptw.protonet.info \
  dockerregistry.protorz.net/publish_to_web:latest

[Install]
WantedBy=multi-user.target
