# ExperimentalPlatform
[Unit]
Description=Run 'ptw' service
After=skvs-protonet.service
Requires=skvs-protonet.service
ConditionPathExists=/etc/protonet/ptw/enabled

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --link skvs \
    --name=ptw \
  experimentalplatform/ptw:{{tag}}

[Install]
WantedBy=multi-user.target
