# ExperimentalPlatform
[Unit]
Description=Run 'pulseaudio' service
After=init-protonet.service network-online.target
Requires=init-protonet.service network-online.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=/usr/bin/mkdir /data/pulseaudio -p
# const gid 35234 is used by 'pulseaudio' user inside the container to get write-access to host's /data/pulseaudio
ExecStartPre=/usr/bin/chown 35234 /data/pulseaudio
ExecStartPre=-/usr/bin/docker rm -f pulseaudio
ExecStartPre=/bin/bash -c '/usr/bin/docker run -d \
    --volume /data/pulseaudio:/home/pulseaudio/socket-directory:rw \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /dev:/dev:rw \
    --volume /var/run/dbus:/var/run/dbus:rw \
    --volume /var/run/udev:/var/run/udev:ro \
    --name=pulseaudio \
    --privileged \
    --net host \
  experimentalplatform/pulseaudio:{{tag}}'
ExecStart=/usr/bin/docker logs -f pulseaudio
ExecStop=/usr/bin/docker stop pulseaudio
ExecStopPost=/usr/bin/docker stop pulseaudio

[Install]
WantedBy=multi-user.target
