# ExperimentalPlatform
[Unit]
Description=Run 'RabbitMQ' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/rabbitmq/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker rm -f rabbitmq
ExecStartPre=/usr/bin/docker run -d \
    --name=rabbitmq \
    -h rabbitmq \
    --volume=/data/rabbitmq:/var/lib/rabbitmq \
  rabbitmq@3.5-management
ExecStart=/usr/bin/docker logs -f rabbitmq
ExecStop=/usr/bin/docker stop rabbitmq
ExecStopPost=/usr/bin/docker stop rabbitmq

[Install]
WantedBy=multi-user.target
