# ExperimentalPlatform
[Unit]
Description=Run 'redis' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/redis/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --volume=/data/redis:/data \
    --name=redis \
  redis redis-server --appendonly yes

[Install]
WantedBy=multi-user.target
