# ExperimentalPlatform
[Unit]
Description=Run 'redis' service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet/redis/disabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f redis
ExecStartPre=/usr/bin/docker run -d \
    --volume=/data/redis:/data \
    --name=redis \
    --net=protonet \
  quay.io/experimentalplatform/redis:{{tag}} redis-server --appendonly yes
ExecStart=/usr/bin/docker logs -f redis
ExecStop=/usr/bin/docker stop redis
ExecStopPost=/usr/bin/docker stop redis

[Install]
WantedBy=multi-user.target
