# ExperimentalPlatform
[Unit]
Description=Remove unused docker images
After=init-protonet.service
Requires=init-protonet.service

[Service]
KillMode=none
Type=oneshot
ExecStart=/bin/bash -c '/usr/bin/env docker rmi $(/usr/bin/env docker images -q -f dangling=true) || true'
