[Unit]
Description=Remove unused docker images
After=init-protonet.service
Requires=init-protonet.service

[Service]
KillMode=none
Type=oneshot
StopWhenUnneeded=yes
ExecStart=/bin/bash -c '/usr/bin/docker rmi $(/usr/bin/docker images | /usr/bin/awk "/^<none>/{ print $3 }") || true'

[Install]
WantedBy=multi-user.target
