[Unit]
Description=Start removal of unused docker images.

[Timer]
OnStartupSec=45min
OnCalendar=*-*-* 06:00:00
Unit=remove-images-protonet.service

[Install]
WantedBy=multi-user.target
