# ExperimentalPlatform
[Unit]
Description=Set Password for Experimental Platform
ConditionFileNotEmpty=/etc/protonet/system/ssh/password

[Service]
ExecStart=/usr/bin/env bash -c '/etc/systemd/system/scripts/platform-passwd.sh'
KillMode=none
Type=oneshot
