# ExperimentalPlatform
[Unit]
Description=Run 'simple key value storage' service
After=sproxy-protonet.service
Requires=sproxy-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
# ATTN: all needed directories are created in init-protonet.service
ExecStartPre=-/usr/bin/docker rm -f skvs
ExecStartPre=/usr/bin/docker run -d \
    --name=skvs \
    --net=protonet \
    --volume=/etc/protonet:/data \
    -p 127.0.0.1:9200:82 \
  experimentalplatform/skvs:{{tag}}
ExecStart=/usr/bin/docker logs -f skvs
ExecStop=/usr/bin/docker stop skvs
ExecStopPost=/usr/bin/docker stop skvs

[Install]
WantedBy=multi-user.target
