[Unit]
Description=Run 'simple key value storage' service
After=sproxy-protonet.service update-images-protonet.service
Requires=sproxy-protonet.service
Wants=update-images-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStartPre=/bin/mkdir -p /etc/protonet
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name=skvs \
    --volume=/etc/protonet:/data \
    --link=sproxy:hook \
  dockerregistry.protorz.net/skvs:latest

[Install]
WantedBy=multi-user.target
