# ExperimentalPlatform
[Unit]
Description=Restart Service smb-protonet
After=init-protonet.service
Requires=init-protonet.service
ConditionFileNotEmpty=/etc/protonet/hostname

[Service]
ExecStart=/usr/bin/env docker exec -it smb smbd reload-config
KillMode=none
Type=oneshot
