# ExperimentalPlatform
[Unit]
Description=Protonet Soul WebDAV Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service soul-web.service
Requires=soul-prepare.service soul-web.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name soul-webdav \
    --link soul-web \
    --link rabbitmq \
    --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
    --volume /data/soul/trash:/home/protonet/dashboard/shared/trash/ \
    --volume /data/soul/log:/home/protonet/dashboard/shared/log/ \
    experimentalplatform/german-shepherd:development \
    bundle exec foreman start webdav

[Install]
WantedBy=multi-user.target
