# ExperimentalPlatform
[Unit]
Description=Protonet Soul WebDAV Service
ConditionPathExists=/etc/protonet/soul/enabled
ConditionPathExists=!/etc/protonet-vm
After=soul-prepare.service soul-web.service
Requires=soul-prepare.service soul-web.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-webdav
ExecStartPre=/usr/bin/env bash -c "/usr/bin/docker run -d \
    --name soul-webdav \
    --net=protonet \
    --user webdav \
    --hostname soul-webdav \
    --env \"RABBITMQ_URL=$(/opt/bin/skvs_cli get app/german-shepherd/rabbitmq)\" \
    --env \"RAILS_ENV=production\" \
    --env \"RACK_ENV=production\" \
    --env \"DATABASE_URL=mysql2://root:s3kr3t@mysql:3306/german-shepherd?pool=30&encoding=utf8&reconnect=true\" \
    --volume /data/soul:/home/protonet/dashboard/shared/ \
    quay.io/protonetinc/german-shepherd:{{tag}} \
    bundle exec foreman start webdav"
ExecStart=/usr/bin/docker logs -f soul-webdav
ExecStop=/usr/bin/docker stop soul-webdav
ExecStopPost=/usr/bin/docker stop soul-webdav

[Install]
WantedBy=multi-user.target
