# ExperimentalPlatform
[Unit]
Description=Initial Protonet Soul Configuration
ConditionPathExists=/etc/protonet/soul/enabled
After=skvs-protonet.service elasticsearch.service mysql.service rabbitmq.service redis.service
Requires=skvs-protonet.service elasticsearch.service mysql.service rabbitmq.service redis.service

[Service]
TimeoutStartSec=0
Type=oneshot
KillMode=none
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /data/soul
ExecStartPre=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
               --link mysql \
               --link rabbitmq \
               --link skvs \
               --link redis \
               --link elasticsearch \
               --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
               --volume /data/soul/samba_includes:/home/protonet/dashboard/shared/samba_includes/ \
               --volume /data/soul/trash:/home/protonet/dashboard/shared/trash/ \
               --volume /data/soul/log:/home/protonet/dashboard/shared/log/ \
               --volume /data/soul/public:/home/protonet/dashboard/shared/public/ \
               --volume /data/soul/uploads:/home/protonet/dashboard/shared/uploads/ \
               --volume /data/hardware/hardware.sock:/tmp/hardware.sock \
               experimentalplatform/german-shepherd:development \
               bundle exec rake docker:prepare
ExecStart=/usr/bin/env true

[Install]
WantedBy=multi-user.target
