# ExperimentalPlatform
[Unit]
Description=Initial Protonet Soul Configuration
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service soul-prepare.service soul-web.service soul-socketio.service
Requires=init-protonet.service soul-prepare.service soul-web.service soul-socketio.service

TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name soul-nginx \
    --link soul-web \
    --link soul-socketio \
    --link soul-webdav \
    -p 5000:80 \
    experimentalplatform/soul-nginx:development \
    nginx

[Install]
WantedBy=multi-user.target
