# ExperimentalPlatform
[Unit]
Description=Protonet Soul Worker Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service soul-web.service
Requires=soul-prepare.service soul-web.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-worker
ExecStartPre=/usr/bin/docker run -d \
    --name soul-worker \
    --net=protonet \
    --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
    --volume /data/soul/samba_includes:/home/protonet/dashboard/shared/samba_includes/ \
    --volume /data/soul/trash:/home/protonet/dashboard/shared/trash/ \
    --volume /data/soul/log:/home/protonet/dashboard/shared/log/ \
    --volume /data/soul/public:/home/protonet/dashboard/shared/public/ \
    --volume /data/soul/uploads:/home/protonet/dashboard/shared/uploads/ \
    --volume /data/samba/etc:/etc/samba/ \
    --volume /data/samba/extrausers:/var/lib/extrausers/ \
    --volume /data/hardware:/tmp/hardware \
    --volume /var/run/soul-backup:/tmp/backup \
    quay.io/protonetinc/german-shepherd:{{tag}} \
    bundle exec foreman start -m worker=3
ExecStart=/usr/bin/docker logs -f soul-worker
ExecStop=/usr/bin/docker stop soul-worker
ExecStopPost=/usr/bin/docker stop soul-worker

[Install]
WantedBy=multi-user.target
