# ExperimentalPlatform
[Unit]
Description=Protonet Soul Protosync API Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-protosync-server.service
Requires=soul-protosync-server.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker --cgroups name=systemd run --rm \
    --name soul-protosync-api \
    --link skvs \
    --link soul-protosync-server:syncthing \
    --volume /data/soul/protosync:/etc/syncthing \
    experimentalplatform/soul-protosync:development start-api

[Install]
WantedBy=multi-user.target
