# ExperimentalPlatform
[Unit]
Description=Protonet Soul Dispatcher Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service
Requires=soul-prepare.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-dispatcher
ExecStartPre=-/usr/bin/chown 1000:1000 -R /data/samba/
ExecStartPre=-/usr/bin/chmod 644 /data/samba/etc/smbpasswd
ExecStartPre=/usr/bin/docker run -d \
  --name soul-dispatcher \
  --net=protonet \
  --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
  --volume /data/soul/samba_includes:/home/protonet/dashboard/shared/samba_includes/ \
  --volume /data/soul/trash:/home/protonet/dashboard/shared/trash/ \
  --volume /data/soul/log:/home/protonet/dashboard/shared/log/ \
  --volume /data/soul/public:/home/protonet/dashboard/shared/public/ \
  --volume /data/soul/uploads:/home/protonet/dashboard/shared/uploads/ \
  --volume /data/samba/etc:/etc/samba/ \
  --volume /data/samba/extrausers:/var/lib/extrausers/ \
  --volume /data/hardware:/tmp/hardware \
  quay.io/protonetinc/german-shepherd:{{tag}} \
  bundle exec foreman start dispatcher
ExecStart=/usr/bin/docker logs -f soul-dispatcher
ExecStop=/usr/bin/docker stop soul-dispatcher
ExecStopPost=/usr/bin/docker stop soul-dispatcher

[Install]
WantedBy=multi-user.target
