# ExperimentalPlatform
[Unit]
Description=Protonet Soul backup Service
ConditionPathExists=/etc/protonet/soul/enabled

[Socket]
ExecStartPre=-/usr/bin/rm -rf /data/soul-backup/socket
ListenStream=/data/soul-backup/socket
Accept=yes

[Install]
WantedBy=sockets.target

