# ExperimentalPlatform
[Unit]
Description=Protonet Soul Protosync API Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-protosync-server.service skvs-protonet.service
Requires=soul-protosync-server.service skvs-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-protosync-api
ExecStartPre=/usr/bin/docker run -d \
    --name soul-protosync-api \
    --net=protonet \
    --volume /data/soul/protosync:/etc/syncthing \
    quay.io/protonetinc/soul-protosync:{{tag}} start-api
ExecStart=/usr/bin/docker logs -f soul-protosync-api
ExecStop=/usr/bin/docker stop soul-protosync-api
ExecStopPost=/usr/bin/docker stop soul-protosync-api

[Install]
WantedBy=multi-user.target
