# ExperimentalPlatform
[Unit]
Description=Protonet Soul nginx Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service soul-web.service soul-socketio.service soul-webdav.service
Requires=soul-prepare.service soul-web.service soul-socketio.service soul-webdav.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-nginx
ExecStartPre=/usr/bin/docker run -d \
    --name soul-nginx \
    --net=protonet \
    #--link soul-web \
    #--link soul-socketio \
    #--link soul-webdav \
    --volume /data/soul/public:/home/protonet/dashboard/shared/public/ \
    --volume /data/soul/uploads:/home/protonet/dashboard/shared/uploads/ \
    --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
    -p 5000:80 \
    quay.io/protonetinc/soul-nginx:{{tag}}
ExecStartPost=-/bin/bash -c 'echo "power" > /etc/protonet/system/button'
ExecStart=/usr/bin/docker logs -f soul-nginx
ExecStop=/usr/bin/docker stop soul-nginx
ExecStopPost=/usr/bin/docker stop soul-nginx

[Install]
WantedBy=multi-user.target
