# ExperimentalPlatform
[Unit]
Description=Protonet Soul Web Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service
Requires=soul-prepare.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-web
ExecStartPre=/usr/bin/docker run -d \
      --name soul-web \
      --net=protonet \
      --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
      --volume /data/soul/samba_includes:/home/protonet/dashboard/shared/samba_includes/ \
      --volume /data/soul/trash:/home/protonet/dashboard/shared/trash/ \
      --volume /data/soul/log:/home/protonet/dashboard/shared/log/ \
      --volume /data/soul/public:/home/protonet/dashboard/shared/public/ \
      --volume /data/soul/uploads:/home/protonet/dashboard/shared/uploads/ \
      --volume /data/samba/etc:/etc/samba/ \
      --volume /data/samba/extrausers:/var/lib/extrausers/ \
      --volume /data/hardware:/tmp/hardware \
      --volume /var/run/soul-backup:/tmp/backup \
      quay.io/protonetinc/german-shepherd:{{tag}} \
      bundle exec foreman start web
ExecStart=/usr/bin/docker logs -f soul-web
ExecStop=/usr/bin/docker stop soul-web
ExecStopPost=/usr/bin/docker stop soul-web
ExecStartPost=-/bin/bash -c 'echo "power" > /etc/protonet/system/button'
ExecStopPost=-/bin/bash -c 'echo "busy" > /etc/protonet/system/button'

[Install]
WantedBy=multi-user.target
