# ExperimentalPlatform
[Unit]
Description=Protonet Soul backup Service
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=/bin/mkdir -p /var/run/soul-backup
ExecStartPre=-/usr/bin/env bash -c '/usr/sbin/lshw &>/dev/null'
ExecStart=-/usr/bin/env docker run --rm -i \
    --net=protonet \
    --cap-add=SYS_ADMIN \
    --privileged \
    -e MYSQL_USER=root \
    -e MYSQL_PASS=s3kr3t \
    -e MYSQL_HOST=mysql \
    --volume /dev:/dev:rw \
    --volume /var/run/soul-backup:/var/run/soul-backup:rw \
    --volume /data/soul:/protonet/data:rw \
    --volume /etc/protonet:/protonet/config:rw \
    --volume /var/run/dbus:/var/run/dbus:rw \
    --volume /usr/bin/systemctl:/usr/bin/systemctl:ro \
    --volume /sys/fs/cgroup:/sys/fs/cgroup:ro \
    --volume /var/run/systemd:/var/run/systemd:ro \
    quay.io/protonetinc/soul-backup:{{tag}} protonet-backup stdio
StandardInput=socket

[Install]
WantedBy=multi-user.target
