# ExperimentalPlatform
[Unit]
Description=Protonet Soul backup Service

[Service]
Type=oneshot
KillMode=none
ExecStartPre=-/usr/bin/env bash -c '/usr/sbin/lshw &>/dev/null'
ExecStart=-/usr/bin/env docker run --rm -i \
    --link mysql \
    --cap-add=SYS_ADMIN \
    -e MYSQL_USER=root \
    -e MYSQL_PASS=s3kr3t \
    -e MYSQL_HOST=mysql \
    --volume /dev:/dev:rw \
    --volume /data/soul:/protonet/data:rw \
    --volume /etc/protonet:/protonet/config:rw \
    --volume /var/run/dbus:/var/run/dbus:rw \
    --volume /usr/bin/systemctl:/usr/bin/systemctl:ro \
    --volume /sys/fs/cgroup:/sys/fs/cgroup:ro \
    --volume /var/run/systemd:/var/run/systemd:ro \
    experimentalplatform/soul-backup:development protonet-backup stdio
StandardInput=socket

