# ExperimentalPlatform
[Unit]
Description=Protonet Soul Owner Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service
Requires=soul-prepare.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-owner
ExecStartPre=/usr/bin/docker run -d \
      --name soul-owner \
      --net=protonet \
      --volume /data/soul:/home/protonet/dashboard/shared/ \
      quay.io/protonetinc/soul-owner:{{tag}}
ExecStart=/usr/bin/docker logs -f soul-owner
ExecStop=/usr/bin/docker stop soul-owner
ExecStopPost=/usr/bin/docker stop soul-owner

[Install]
WantedBy=multi-user.target
