# ExperimentalPlatform
[Unit]
Description=Protonet Soul FS Notifier Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service
Requires=soul-prepare.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=/usr/sbin/sysctl fs.inotify.max_user_watches=3000000
ExecStartPre=-/usr/bin/docker rm -f soul-fs-notifier
ExecStartPre=/usr/bin/env bash -c "/usr/bin/docker run -d \
  --name soul-fs-notifier \
  --net=protonet \
  --volume /data/soul:/home/protonet/dashboard/shared/ \
  --env \"RABBITMQ_URL=$(/opt/bin/skvs_cli get app/german-shepherd/rabbitmq)\" \
  --env \"RAILS_ENV=production\" \
  --env \"RACK_ENV=production\" \
  --env \"DATABASE_URL=mysql2://root:s3kr3t@mysql:3306/german-shepherd?pool=30&encoding=utf8&reconnect=true\" \
  quay.io/protonetinc/german-shepherd:{{tag}} \
  bundle exec foreman start fs_notifier"
ExecStart=/usr/bin/docker logs -f soul-fs-notifier
ExecStop=/usr/bin/docker stop soul-fs-notifier
ExecStopPost=/usr/bin/docker stop soul-fs-notifier

[Install]
WantedBy=multi-user.target
