# ExperimentalPlatform
[Unit]
Description=Protonet Soul FS Notifier Service
ConditionPathExists=/etc/protonet/soul/enabled
After=soul-prepare.service
Requires=soul-prepare.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-fs-notifier
ExecStartPre=/usr/bin/docker run -d \
  --name soul-fs-notifier \
  --net=protonet \
  #--link mysql \
  #--link rabbitmq \
  #--link redis \
  #--link skvs \
  --volume /data/soul/files:/home/protonet/dashboard/shared/files/ \
  quay.io/protonetinc/german-shepherd:{{tag}} \
  bundle exec foreman start fs_notifier
ExecStart=/usr/bin/docker logs -f soul-fs-notifier
ExecStop=/usr/bin/docker stop soul-fs-notifier
ExecStopPost=/usr/bin/docker stop soul-fs-notifier

[Install]
WantedBy=multi-user.target
