# ExperimentalPlatform
[Unit]
Description=Protonet Soul Protosync Server Service
ConditionPathExists=/etc/protonet/soul/enabled
After=init-protonet.service
Requires=init-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker rm -f soul-protosync-server
ExecStartPre=/usr/bin/docker run -d \
    --name soul-protosync-server \
    --net host \
    --volume /data/soul/protosync:/etc/syncthing \
    --volume /data/soul/files:/protonet/data/home/protonet/dashboard/shared/files \
    -p 22000:22000 \
    -p 21025:21025/udp \
    -p 21026:21026/udp \
    -p 21027:21027/udp \
    experimentalplatform/soul-protosync:{{tag}} start-syncthing
ExecStart=/usr/bin/docker logs -f soul-protosync-server
ExecStop=/usr/bin/docker stop soul-protosync-server
ExecStopPost=/usr/bin/docker stop soul-protosync-server

[Install]
WantedBy=multi-user.target
