# ExperimentalPlatform
[Unit]
Description=Protonet Soul backup Service
ConditionPathExists=/etc/protonet/soul/enabled
After=zfs.service

[Socket]
ExecStartPre=/bin/mkdir -p /data/soul-backup
ListenStream=/data/soul-backup/socket
Accept=yes

[Install]
WantedBy=multi-user.target

