[Unit]
Description=Run systemd-proxy (sproxy) service
After=init-protonet.service update-images-protonet.service
Requires=init-protonet.service
Wants=update-images-protonet.service

[Service]
TimeoutStartSec=0
TimeoutStopSec=15
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
ExecStart=/opt/bin/systemd-docker run --rm \
    --volume=/etc/protonet/sproxy/:/config/ \
    --volume=/var/run/dbus/:/var/run/dbus/ \
    --name=sproxy \
    --hostname=sproxy.innocence.protonet.info \
  dockerregistry.protorz.net/systemd-proxy:latest

[Install]
WantedBy=multi-user.target
