[Unit]
Description=Run systemd-proxy (sproxy) service
After=init-protonet.service
Requires=init-protonet.service

[Service]
Type=idle
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker pull dockerregistry.protorz.net/systemd-proxy:latest
ExecStart=/opt/bin/systemd-docker run --rm \
    --volume=/etc/protonet/sproxy/:/config/ \
    --volume=/var/run/dbus/:/var/run/dbus/ \
    --name=sproxy \
    --hostname=sproxy.innocence.protonet.info \
  dockerregistry.protorz.net/systemd-proxy:latest
Restart=always
RestartSec=60s
Type=notify
NotifyAccess=all
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
