# ExperimentalPlatform
[Unit]
Description=Update the experimental platform.

[Timer]
OnStartupSec=1min
OnCalendar=*-*-* 06:00:00
Unit=update-protonet.service

[Install]
WantedBy=multi-user.target
