# ExperimentalPlatform
[Unit]
Description=Dump update-engine status to skvm directory
After=update-engine.service
Requires=update-engine.service

[Service]
Type=simple
ExecStart=/usr/bin/env bash -c "skvs_cli set system/update-engine-status \"$(update_engine_client -status)\""
