# ExperimentalPlatform
[Unit]
Description=Update Docker Images of Protonet Experimental Plattform
After=init-protonet.service network-online.target
Requires=init-protonet.service network-online.target

[Service]
TimeoutStartSec=0
Type=idle
RemainAfterExit=yes
ExecStartPre=/etc/systemd/system/update-images-protonet.sh
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
