# ExperimentalPlatform
[Unit]
Description=Scrub zpools
After=zfs.service
Requires=zfs.service

[Timer]
OnStartupSec=4h
OnUnitActiveSec=1month
Unit=zpool-scrub.service

[Install]
WantedBy=multi-user.target
